.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-container-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 16px;
}

.cares-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.availabilities-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 1050px) {
  .cares-container {
    flex-direction: column;
  }
  .availabilities-container {
    flex-direction: column;
  }
}
