.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-container-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 16px;
}

.cares-container {
  display: flex;
  flex-direction: row;
}

.availabilities-container {
  display: flex;
  flex-direction: row;
  max-width: 1044px;
  overflow-x: auto;
  justify-content: right;
}

@media (max-width: 1050px) {
  .cares-container {
    max-width: 310px;
    overflow-x: auto;
  }
  .availabilities-container {
    max-width: 310px;
    overflow-x: auto;
  }
}
