.modify-all-users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  margin: auto;
}

@media (max-width: 768px) {
  .only-phone-center {
    display: flex;
    justify-content: center;
  }
}
