.cards-container {
  margin: 20px;
}

.care-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.care-card {
  background-color: $red-fire;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
}

.care-card:hover {
  background-color: $red-light;
  color: white;
}
