// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "flatpickr";
@import "care_card";
@import "table";
@import "btn";
@import "filters";
@import "sessions";
@import "tooltip";
@import "warning";
@import "rules";

//Default values

body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}
