// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "flatpickr";
@import "care_card";
@import "table";
@import "btn";
@import "filters";
@import "sessions";
@import "tooltip";
@import "warning";
@import "rules";
@import "infos";
@import "settings";

//Default values

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.form-control.is-valid {
  background-image: none !important;
}

.form-check-label {
  color: white !important;
}
