.navbar-lewagon {
  justify-content: space-evenly;
  background: $red-fire;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 64px;
}

.dropdown-item:hover {
  background-color: $red-light;
  color: white;
}

.dropdown-item:focus {
  background-color: $red-light;
}

@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute !important;
  }
}
