.navbar-lewagon {
  justify-content: space-evenly;
  background: $red-fire;
  width: 100vw;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 96px;
}

.navbar-lewagon .navbar-brand {
  margin-right: 0 !important;
}

.dropdown-item:hover {
  background-color: $red-light;
  color: white;
}

.dropdown-item:focus {
  background-color: $red-light;
}

.full-name {
  padding: 4px 16px;
  font-weight: 600;
}

.icon-navbar {
  margin-right: 16px;
}

#firestation-name {
  color: white;
  margin: 0 32px 0 0;
}

@media (max-width: 768px) {
  .dropdown-menu {
    position: absolute !important;
  }

  .navbar-lewagon .navbar-brand img {
    width: 64px;
  }

  .icon-navbar {
    margin-right: 0;
  }

  #firestation-name {
    color: white;
    margin: 0 8px 0 0;
  }
}
