table {
  width: 98%; /* Table takes full width of the container */
  border-collapse: collapse; /* Collapse borders for cleaner look */
  margin: 20px; /* Add some space above and below the table */
  table-layout: fixed;
}

.table-container {
  max-width: 98%; /* Ensure the container doesn't exceed screen width */
}

thead {
  background-color: #f4f4f4; /* Light grey background for the header */
}

.table-container h2 {
  margin: 20px;
}

th, td {
  border: 1px solid #ddd; /* Thin border around cells */
  padding: 12px 15px; /* Padding inside cells */
  text-align: center; /* Left-align text in all cells */
}

th {
  background-color: $red-fire;
  color: white; /* White text for headers */
}

tbody tr:nth-child(even) {
  background-color: #ffb0b0; /* Light grey for alternating rows */
}

tbody td:hover {
  background-color: $red-light;
}

td.active {
  background-color: green;
  color: white;
}


/* Optional: Styling the entire table within a container for scrolling */
.table-container table {
  margin: 20px;
}

@media (max-width: 768px) {
  .table-container table {
    width: 1150px; /* largeur mini pour forcer le scroll si écran trop petit */
  }

  #cares-year-table table {
    max-width: 95%;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: block; /* Ensure table respects the scrolling container */
    border-collapse: collapse; /* Optional: Neater table appearance */
  }

  th, td {
    width: 64px;             /* largeur fixe */
    overflow: hidden;        /* cache le texte qui dépasse */
    text-overflow: ellipsis; /* met "..." si trop long */
    white-space: nowrap;     /* empêche de passer à la ligne */
    padding: 10px 4px;
  }

  .table-container {
    max-width: 95%; /* Ensure the container doesn't exceed screen width */
  }

  .cares-table table {
    max-width: 95%;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: block; /* Ensure table respects the scrolling container */
    border-collapse: collapse; /* Optional: Neater table appearance */
  }

  #cares-year-table th {
    padding: 12px 0;
    font-size: 16px;
  }
}
