table {
  width: 100%; /* Table takes full width of the container */
  border-collapse: collapse; /* Collapse borders for cleaner look */
  margin: 20px 0; /* Add some space above and below the table */
}


thead {
  background-color: #f4f4f4; /* Light grey background for the header */
}

thead th {
  width: 115px;
}

th, td {
  border: 1px solid #ddd; /* Thin border around cells */
  padding: 12px 15px; /* Padding inside cells */
  text-align: center; /* Left-align text in all cells */
}


tbody tr th {
  //width: 100px; /* Fixed width for table headers */
}

th {
  background-color: $red-fire;
  color: white; /* White text for headers */
}

tbody tr:nth-child(even) {
  background-color: #ffb0b0; /* Light grey for alternating rows */
}

tbody tr:hover {
  background-color: $red-light; /* Light hover effect on rows */
}


/* Optional: Styling the entire table within a container for scrolling */
.table-container {
  margin: 20px;
}

#cares-year-table {
  width: 40%;
}
