<div class="availabilities d-flex align-items-center">
  <%= simple_form_for [@user, @availability], url: user_availabilties_create3_path(@user) do |f| %>
      <%= f.input :day,
                as: :string,
                label: "Disponibilités pour #{@month_next3}",
                input_html: { data: { controller: "datepicker-show3", datepicker_show3_availabilities_value: @availabilities_next_days3, datepicker_show3_cod_value: @users_cod, datepicker_show3_cate_value: @users_cate,
                      datepicker_show3_ca1e_value: @users_ca1e, datepicker_show3_ceinc_value: @users_ce_inc, datepicker_show3_eqinc_value: @users_eq_inc, datepicker_show3_eqsap_value: @users_eq_sap,
                      datepicker_show3_stg_value: @users_stg  } } %>
    <%= f.submit "Valider", class: "btn" %>
  <% end %>
</div>
